<section *ngIf="endereco">
    <table>
        <thead>
            <th colspan="2">ENDEREÇO</th>
        </thead>
        <tr>
            <td class="placeholder">Rua</td>
            <td>{{endereco.rua}}</td>
        </tr>
        <tr>
            <td class="placeholder">Bairro</td>
            <td>{{endereco.bairro}}</td>
        </tr>
        <tr>
            <td class="placeholder">Cidade</td>
            <td>{{endereco.cidade}}</td>
        </tr>
        <tr>
            <td class="placeholder">Estado</td>
            <td>{{endereco.estado}}</td>
        </tr>
        <tr>
            <td class="placeholder">CEP</td>
            <td>{{endereco.cep}}</td>
        </tr>
    </table>
</section>